@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#not_leaderboard {
        margin-top: 5vh;
        margin-left: 5vw;
}

#row2 {
        margin-top: 2vh;
}
@media screen and (max-width:900px){
        #h1_home {
                color:#ffffff;
                font-family: 'Press Start 2P', cursive;
                font-size: 5vw;
                text-align:left;
        }
        
        #h2_home {
                color:#ffffff;
                font-family: 'Press Start 2P', cursive;
                font-size: 3vw;
                text-align: left;
        }   
        #search_bar {
                width: 55vw;
        }  
        #submit_button {
                height: 5vh;
                width: min-content;
                font-family: 'Press Start 2P', cursive;
                font-size: 2vw;
                color: #ffffff;
                transform: translate(-3vw);
        }
}

.Home h1 {
        color:#ffffff;
        font-family: 'Press Start 2P', cursive;
        font-size: 30px;
        text-align: left;
}

.Home h2 {
        color:#ffffff;
        font-family: 'Press Start 2P', cursive;
        font-size: 20px;
        text-align: left;
}  


.Home input[type=text] {
        width: 80vw;
}

.Home input[type=text], textarea{
        font-size: 17px;
        font-family: 'Press Start 2P', cursive;
        color: #ffffff;
        background-color : black;
        height: 5vh;
}

#submit_button {
        background-color: #000000;
        border-style: solid;
        border-radius: 5px;
        border-color: #ffffff;
        height: 5vh;
        width: min-content;
        padding: 5%;
        font-size: 2vh;
        font-family: 'Press Start 2P', cursive;
        color: #ffffff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ffffff;
}
      
      
