@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Dorm {
        background-color: black;
        font-family: 'Press Start 2P', cursive;
        color: white;
}

#not_leaderboard {
        margin-top: 5vh;
        margin-left: 5%;
}

#row2 {
        margin-top: 2vh;
}
@media screen and (max-width:500px){
        #h1_Dorm {
                color:#ffffff;
                font-family: 'Press Start 2P', cursive;
                font-size: 5vw;
                text-align:left;
        }
        
        #h2_Dorm {
                color:#ffffff;
                font-family: 'Press Start 2P', cursive;
                font-size: 3vw;
                text-align: left;
        }    
        #the_table {
                padding: 2%;
                border-style: solid;
                border-radius: 5px;
                border-color: #1919A6;
                width: 80vw;
                margin-left: 10vw;
                font-size: 3vw;
        } 

        #the_table h3 {
                font-size: 4vw;
        }
}

.Dorm h1 {
        color:#ffffff;
        font-family: 'Press Start 2P', cursive;
        font-size: 30px;
        text-align: left;
}

.Dorm h2 {
        color:#ffffff;
        font-family: 'Press Start 2P', cursive;
        font-size: 20px;
        text-align: left;
}    

#the_table {
        padding: 2%;
        border-style: solid;
        border-radius: 5px;
        border-color: #1919A6;
        width: 80vw;
        margin-left: 10vw;
}
      
